<!DOCTYPE html>
<html lang="en" ng-app="genoBrowser">
<head>
	<meta charset="utf-8">
	<title>Geno-Browser</title>

    <!-- bower:css -->
    <link rel="stylesheet" href="lib/bootstrap-css/css/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/nvd3/src/nv.d3.css" />
    <!-- endbower -->
	<link rel="stylesheet" href="css/main.css">

    <!-- bower:js -->
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/listgroup.js/listgroup.js"></script>
    <script src="lib/bootstrap-css/js/bootstrap.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="lib/d3/d3.js"></script>
    <script src="lib/nvd3/nv.d3.js"></script>
    <script src="lib/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="lib/ng-file-upload/angular-file-upload.js"></script>
    <!-- endbower -->

    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-absolute">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" data-toggle="collapse" data-target="#navbar-menu">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true" ></span>
                </a>
                <a class="navbar-brand" href="/">Geno-Browser</a>
            </div>
            <user-toolbar></user-toolbar>
        </div>
        <div id="navbar-menu" class="container-fluid collapse">
            <div class="row">
                <view-list></view-list>
            </div>
        </div>
    </nav>

    <div ng-view>
    </div>

    <footer class="footer navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <form class="form-inline" ng-controller="BoundsController">
                        <div class="input-group">
                            <span>Range: </span>
                            <div class="form-group">
                                <input type="number" ng-model="bounds[0]" class="form-control" id="range-min" min="0" ng-attr-max="{{bounds[1]}}" step="1000" placeholder="Position">
                            </div>
                            <span> thru </span>
                            <div class="form-group">
                                <input type="number" ng-model="bounds[1]" class="form-control" id="range-max" step="1000" min="0" placeholder="Position">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <gb-fasta-plot ng-controller="fastaController" track="fastaTrack"></gb-fasta-plot>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
    </footer>
</body>
</html>