<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="viewModalLabel">Add New View</h4>
</div>
<div class="modal-body">
    <form name="form" novalidate
          resettable-form="new_view"
          ng-submit="form.$valid && $close({initial_track:new_view.track, view_name:new_view.name})">
        <div class="form-group" show-errors>
            <label for="view-name">View Name</label>
            <input type="text" class="form-control" ng-model="new_view.name" id="view-name" name="view-name" placeholder="View Name" required>
        </div>
        <div class="form-group" show-errors>
            <label for="view-track">Initial Track</label>
            <select class="form-control" id="view-track" name="view-track"
                    ng-model="new_view.track"
                    ng-options="track as track.track_name for track in all_tracks" required>
            </select>
        </div>
        <div class="form-group pull-right">
            <a href="" class="form-reset">Reset</a>
            <button type="submit" class="btn btn-primary">Add View</button>
        </div>
    </form>
</div>
