<div class="modal-header">
    <h4 class="modal-title">Edit Account</h4>
</div>
<div class="modal-body">
    <form name="editAccountForm" ng-submit="editAccountForm.$valid && $close()" novalidate>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" ng-model="user.email" id="email" placeholder="New Email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" ng-model="user.password" id="password" placeholder="New Password">
        </div>
        <div class="form-group pull-right">
            <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>