<div class="col-md-3">
    <div class="well well-sm">
        <h4>
            <span>Tracks</span>
            <small class="pull-right">
                <a ng-click="addTrack()"><span class="glyphicon glyphicon-plus"></span></a>
            </small>
        </h4>
        <div class="list-group">
            <div ng-repeat="track in tracks" ng-click="selectTrack(track)" ng-class="{active:isSelectedTrack(track)}" class="list-group-item">
                <span>{{track.track_name}}</span>
                <a class="action-item pull-right" ng-click="removeTrackFromView(track)">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a class="action-item pull-right" ng-click="editTrack(track)">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a class="action-item pull-right" ng-click="deleteTrack(track)">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6" ng-hide="selected_track==null">
    <div class="well well-sm">
        <h4>
            <span>Track Information</span>
        </h4>
        <p>Name: {{selected_track.track_name}}<br/>
        Datatype: {{selected_track.data_type}}<br/>
        Filename: {{selected_track.file_name}}</p>
        <div class="list-group">
        </div>
    </div>
</div>