<div class="modal-header">
    <h4 class="modal-title" id="welcomeModalLabel">Welcome to the Geno-Browser!</h4>
</div>
<div class="modal-body">
    <p>Welcome, one and all, to the GENO-BROWSER. The Geno-Browser is a web-based scientific application intended to view and analyze experimental genomic data.</p>
    <p>It will be initially used and tested, and maintained by the McArdle Lab for Cancer Research.</p>
    <p>It is currently semi-operational while under development for initial use, at which time it will most likely undergo major modifications.</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary"  ng-click="$dismiss()">I got it!</button>
</div>